@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* Нульові стилі для всіх елементів */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }

  /* Стилізація тіла документа */
  body {
	font-family: 'Bebas Neue', sans-serif;
	font-size: 24px;
	line-height: 1.5;
	background-color: #9198e5;
  }

  .sticky {
	position: sticky;
	top:0;
	z-index: 2;
  }

  .header {
	display: flex;
	height: 100px;
	justify-content: center;
	align-items: center;
	gap: 50px;
	background: linear-gradient(#e66465, #9198e5);
	border-bottom: 1px solid white;
	z-index: 1;
  }

  .link {
	text-decoration: none;
  }

  .atuin-btn {
	  display: inline-flex;
	  margin: 10px;
	  text-decoration: none;
	  position: relative;
	  font-size: 20px;
	  line-height: 20px;
	  padding: 12px 30px;
	  color: #FFF;
	  font-weight: bold;
	  text-transform: uppercase;
	  font-family: 'Roboto Condensed', Тahoma, sans-serif;
	  background: #337AB7;
	  cursor: pointer;
	  border: 2px solid #BFE2FF;
	  transition: transform 0.2s ease-out, padding 0.2s ease-out;
	  overflow: hidden;
	  border-radius: 5px;
  }
  .atuin-btn:hover,
  .atuin-btn:active,
  .atuin-btn:focus {
	  color: #FFF;
	  transform: rotate(-2deg);
	  padding: 12px 50px 12px 10px;
  }
  .atuin-btn:before {
	  content: "\27A4";
	  position: absolute;
	  right: -30px;
	  color: #1C4B73;
	  transition: right 0.5s cubic-bezier(.97,.01,.97,.55);
  }
  .atuin-btn:hover:before,
  .atuin-btn:active:before,
  .atuin-btn:focus:before {
	  right: 10px;
  }

 .table {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  list-style: none;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  background-color: #9198e5;
}

.table1 {
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #9198e5;
	width: 400px;
	height: 800px;
  }

.element {
	box-sizing: border-box;
	text-align: center;
	margin: 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 500px;
	height: 700px;
	background-color: #FFF;
	border-radius: 10px;
	transition: transform 0.3s ease-in-out;
	position: sticky;
	z-index: 1;

}

.element:hover {
 transform: scale(110%);
}

.poster {
	width: 400px;
	height: 400px;
	border: none;
	border-radius: 10px;
}
.title {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: wrap;
	margin-top: 10px;
}

.button {
	width: 300px;
	height: 40px;
	background-color: white;
	margin-top: 10px;
	cursor: pointer;
	border-radius: 10px;
	transition: box-shadow 0.3s ease-in-out;
}

.favorite {
	color: white;
	background-color: #0489fd;
}

.flex-naming {
	margin: 10px;
}

.button:hover {
	box-shadow: 11px 11px 15px 4px rgba(145,152,229,1);
}